body {
  margin-top: 60px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #f7f1e3;
  color: rgb(233, 183, 211);
  text-shadow: 1px 1px red;
  font-size: 30px;
  font-weight: bold;
  /*transition: color .5s ease-in-out;*/
}

ul {
  list-style-type: none;
}

.btn {
  cursor: pointer;
}

.js-clock {
  color: #f39c12;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-weather {
  padding-top: 30px;
}
